.info {
  background-color: rgb(193, 95, 95);
}

.tam {
  height: auto;
  width: auto;
  display: inline-block;
  margin: 20px;
}
.tam2 {
  height: 150px;
  width: auto;
  display: inline-block;
  opacity: 20%;
}
.title {
  background-image: linear-gradient(#21c08b, #bfa4f5);
  text-align: center;
  font-size: 30px;
}
.ipt{
  text-align: center;
  margin: 20px;
}
.input{
  width: 300px;
  height: 30px;
}
.but{
  width: 60px;
  height: 30px;
}